body {
}

.starter-template {
	text-align: center;
}

span.error {
	color: red;
}

span.info {
	color: orange;
}

.obs_obs {
	margin-left: 1em;
	margin-bottom: 1em;
}

.obs_path {
	padding: 0.3em;
	margin-bottom: 1em;
	overflow: auto;
	line-height: 150%;
}

.path {
	font-size: 90%;
}

tr.highlighted {
	color: magenta;
}

tr.rejected {
	display: none;
}

svg > g.condition-group > rect {
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

timeline {
	padding-bottom: 20px;
	display:block;
}

timeline svg {
	display: block;
	margin: auto;
}

pie-chart {
	padding-bottom: 20px;
}

.piechart-checkbox-group {
	min-width: 210px;
}

.dont-expand {
	display: block;
	float: left;
}

.clearfix {
	clear: both;
}

.svg-container {
	padding-left: 20px;
	padding-right: 20px;
}

.pie-chart-container {
	padding-right: 20px;
}

.result-overview {
	padding-top: 12px;
}

.glyphicon.spinning {
		animation: spin 1s infinite linear;
		-webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
		from { transform: scale(1) rotate(0deg); }
		to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
		from { -webkit-transform: rotate(0deg); }
		to { -webkit-transform: rotate(360deg); }
}

section#observatory .panel-heading {
	cursor: pointer;
}

section#observatory .panel-heading .glyphicon {
	color: #d9230f;
}

.clickable.glyphicon {
	color: #d9230f;
	cursor: pointer;
}

#observatory {
	border-left: 1px solid #eee;
}

nav.navbar {
	border-bottom: 1px solid #eee;
}

#mock-title {
	cursor: pointer;
}

#mock-title .glyphicon {
	color: #d9230f;
}

.piechart-container .number {
	color: black;
}
aside#observatory-sidebar {
	border-bottom: 1px solid #eee;
}

aside#observatory-sidebar h5, aside#observatory-sidebar button {
	display: inline-block;
}
aside#observatory-sidebar button {
	float: right;
	position: relative;
	top: 7px;
}

aside#observatory-sidebar ol {
	padding-left: 20px;
}

aside#observatory-sidebar dl {
	margin-left: -19px;
}

aside#observatory-sidebar dt {
	width: 60px;
}

aside#observatory-sidebar dd {
	margin-left: 70px;
}

h3 code, h5 code {
	/*color: hsl(208, 56%, 56%);*/
	color: #d9230f;
}

p code {
	color: #d9230f;
}

.float-right {
	float: right;
}

h3 code.error, h5 code.error {
	color: #c7254e;
}

th.clickable {
	cursor: pointer;
	color: #d9230f;
}

tr.clickable {
	cursor: pointer;
}

tr.clickable:hover {
	color: #d9230f;
}

.divider {
	height: 1px;
	margin-bottom: 18px;
}

nav li a {
	cursor: pointer;
}