<div class="row">
	<aside class="col-md-2" id="observatory-sidebar">
		<h5>Query History</h5>
		<button class="btn btn-default btn-xs" ng-click="ui.queries = []">clear</button>
		<ol>
			<li ng-repeat="query in ui.queries track by $index">
				<small>
					<a class="clickable" ng-click="query.show = !query.show">{{ query.time }}</a>
					<div ng-show="query.show">
						<dl class="dl-horizontal">
							<dt>Startpoint:</dt><dd>{{ query.data.sip }}</dd>
							<dt>On path:</dt><dd>{{ query.data.on_path }}</dd>
							<dt>Endpoint:</dt><dd>{{ query.data.dip }}</dd>
							<dt>From:</dt><dd>{{ query.data.from }}</dd>
							<dt>To:</dt><dd>{{ query.data.to }}</dd>
							<dt>Conditions:</dt><dd>{{ ui.conditions.display(query.data) }}</dd>
							<dt>Grouping:</dt><dd>{{ ui.grouping.display(query.data) }}</dd>
						</dl>
						<a href="{{ query.link }}"><strong>link</strong></a>
					</div>
				</small>
			</li>
		</ol>
		<h5><a class="clickable" ng-click="ui.mock.active = !ui.mock.active">Mocking</a></h5>
	</aside>
	<section class="col-md-10" id="observatory">
		<h1>Observatory</h1>
		<div class="panel panel-default" ng-show="ui.mock.active">
			<div class="panel-heading" id="mock-title" ng-click="ui.mock.active = !ui.mock.active">
				Mocking 
				 <code>{{ ui.mock.active ? "enabled" : "disabled"; }}</code>
				<span class="float-right glyphicon glyphicon-{{ ui.mock.active ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
			</div>
			<section class="panel-body" ng-show="ui.mock.active">
				<form>
					<div class="form-group">
						<label>Number of Results (Paths)</label>
						<input type="number" ng-model="ui.mock.nPathGroups" />
					</div>
					<div class="form-group">
						<label>Number of Observations</label>
						<input type="number" ng-model="ui.mock.nObservations" />
					</div>
				</form>
			</section>
		</div>
		<form id="query-form">
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="ui.pathCriteria.show = !ui.pathCriteria.show">
					Path Criteria 
					 <small>
					 	<code>
					 		{{ ui.pathCriteria.display(input.query) }}
					 	</code>
					 </small>
					 <span class="float-right glyphicon glyphicon-{{ ui.pathCriteria.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				</div class="panel-heading">
				<section class="panel-body" ng-show="ui.pathCriteria.show">
					<p>
						<em>Specify which paths you want to include. You may leave field blanks to indicate that no filtering for the field should be done.</em>
					</p>
					<div class="form-group">
						<label>Startpoint</label>
						<input id="sip_ips" type="text" class="form-control" placeholder="" ng-model="input.query.sip" />
						<small class="text-muted">Enter an IPv4 or IPv6 address.</small> 
					</div>
					<div class="form-group">
						<label>On path</label>
						<input id="on_path_ips" type="text" class="form-control" placeholder="" ng-model="input.query.on_path" />
						<small class="text-muted">Enter IPv4 or IPv6 addresses that should be contained within the path. Use comma to separate multiple addresses.</small>
					</div>
					<div class="form-group">
						<label>Endpoint</label>
						<input id="dip_ips" type="text" class="form-control" placeholder="" ng-model="input.query.dip" />
						<small class="text-muted">Enter an IPv4 or IPv6 address.</small>
					</div>
					<div class="form-group">
						<label>From Date</label>
						<div class="input-group">
						    <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="input.query.from" is-open="ui.pathCriteria.calendarFrom" save-as="number"/>
						    <span class="input-group-btn">
						        <button
						        	type="button"
						        	class="btn btn-default"
						        	ng-click="ui.pathCriteria.calendarFrom = !ui.pathCriteria.calendarFrom; main.stopUI($event, prop)">
						        		<i class="fa fa-calendar"></i>
						        </button>
						    </span>
						</div>
						 <small class="text-muted">Enter a Date</small>
					</div>
					<div class="form-group">
						<label>To Date</label>
						<div class="input-group">
						    <input
						    	type="text"
								class="form-control"
								datetime-picker="dd MMM yyyy HH:mm"
								ng-model="input.query.to"
								is-open="ui.pathCriteria.calendarTo"
								save-as="number"/>
						    <span class="input-group-btn">
						        <button
						        	type="button"
						        	class="btn btn-default"
						        	ng-click="ui.pathCriteria.calendarTo = !ui.pathCriteria.calendarTo; main.stopUI($event, prop)">
						        		<i class="fa fa-calendar"></i>
						        </button>
						    </span>
						</div>
						<small class="text-muted">Enter a Date</small>
					</div>
				</section>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="ui.conditions.show = !ui.conditions.show">
					Conditions 
					 <small>
					 	<code>{{ ui.conditions.display(input.query) }}</code>
					 </small>
					<span class="float-right glyphicon glyphicon-{{ ui.conditions.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				</div class="panel-heading">
				<section class="panel-body" ng-show="ui.conditions.show">
					<p>
						<em>Specify observation conditions.</em>
					</p>
					<fieldset ng-repeat="(idx, condition) in input.query.conditions">
					<!--<legend>{{ condition.op.length > 0 ? condition.op + " " + condition.name : condition.name }}</legend>-->
						<div class="form-group" ng-if="idx > 0">
							<label>Operator</label>
							<select class="form-control" ng-model="condition.op">
								<option value=":">AND</option>
								<option value=",">OR</option>
							</select>
							<small class="text-muted">Select a logical operator.</small>
						</div>
						<div class="form-group">
							<label>Name</label>
							<select class="form-control" ng-model="condition.name">
								<option ng-repeat="cname in api.allConditions" value="{{ cname }}">{{ main.displayCondition(cname) }}</option>
							</select>
							<small class="text-muted">Select a condition.</small>
						</div>
					</fieldset>
					<button
						type="button"
						ng-click="(input.query.conditions.length <= 1) ? input.query.conditions.push({ name: ''}) : input.query.conditions.push({ name: '', op: ':'})"
						class="btn btn-default"
						aria-label="add condition">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
					<button type="button"
						ng-click="input.query.conditions.pop()"
						class="btn btn-default"
						aria-label="remove condition">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</button>
				</section>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="ui.grouping.show = !ui.grouping.show">
					Grouping 
					 <small>
					 	<code>{{ ui.grouping.display(input.query) }}</code>
					 </small>
					<span class="float-right glyphicon glyphicon-{{ ui.grouping.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				</div>
				<section class="panel-body" ng-show="ui.grouping.show">
					<p>
						<em>Specify query grouping type.</em>
					</p>
					<fieldset>
						<div class="radio">
							<label>
							<input type="radio" value="default" ng-model="input.query.type">
								Standard Query
							</label>
						</div>
						<div class="radio">
							<label>
							<input type="radio" value="grouped" ng-model="input.query.type">
								Group by Network Paths
							</label>
						</div>	
					</fieldset>
				</section>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="ui.render.show = !ui.render.show">
					Rendering 
					<small>
						<code>
							{{ ui.render.display(input.query) }}
						</code>
					</small>
					<span class="float-right glyphicon glyphicon-{{ ui.render.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				</div>
				<section class="panel-body" ng-show="ui.render.show">
					<p>
						<em>Choose from the rendering types.</em>
					</p>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="ui.render.pieChart"> Pie Chart
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="ui.render.timeline"> Timeline
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="ui.render.table"> Table
						</label>
					</div>
				</section>
			</div>
			<button
				type="button"
				ng-click="ui.mock.active ? fetchResults(ui.mock.generate()) : fetchResults(input.query)"
				class="btn btn-primary"
				aria-label="submit">
				<span ng-show="!ui.loading" class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<span ng-show="ui.loading" class="glyphicon glyphicon-repeat spinning" aria-hidden="true"></span>
				 Submit
			</button>
		</form>
		<div class="divider"></div>
		<div class="panel panel-default">
			<div class="panel-heading" ng-click="ui.results.show = !ui.results.show">
				Results 
				<small>
					<code class="{{ isError ? 'error' : '' }}">
						{{ ui.results.display(input.query) }}
					</code>
				</small>
				<span class="float-right glyphicon glyphicon-{{ ui.results.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
			</div>
			<section class="panel-body" ng-show="ui.results.show && isError">
				<div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					{{ errorResponse.status + " " + errorResponse.statusText + " " + errorResponse.data.err}}
				</div>
			</section>
			<section class="panel-body" ng-show="ui.results.show">
				<!--<p>Showing <span id="results">{{ api.results.length }}</span> matching results.</p>-->
				<!--Currently we know about <span id="results_max">{{ maxresults }}</span> paths in total.</p>-->
				<div id="show_data">
					<div class="obs_path" ng-repeat="(idx, result) in api.results">
					<hr>
						<div class="pie-chart-container well col-sm-6" ng-if="ui.render.pieChart">
							<piechart renderdata="result" colormap="colorMap[idx]"></piechart>
						</div>
						<div class="col-sm-6 result-overview">
							<dl class="dl-horizontal"><dt>Path:</dt><dd>{{ result.sip + " - * - " + result.dip }}</dd>
								<dt>Observations:</dt><dd>{{ result.observations.length }}</dd>
								<dt>From:</dt><dd>{{ main.formatTime(getTimeWindow(result.observations).start) }}</dd>
								<dt>To:</dt><dd>{{ main.formatTime(getTimeWindow(result.observations).end) }}</dd>
							</dl>
						</div>
						<div class="clearfix"></div>
						<div class="well" ng-if="ui.render.timeline">
							<timeline
								renderdata="result"
								colormap="colorMap[idx]"
								mousein="timeLineMouseIn(group, obs)"
								mouseout="timeLineMouseOut(group, obs)"
								click="timeLineClick(group, obs)">
							</timeline>
						</div>
						<div ng-if="ui.render.table">
							<nav aria-label="Page navigation" ng-show="forgetUI.pagination.active">
								<ul class="pagination">
									<li class="{{ forgetUI.tables[idx].currentPage > 0 ? '' : 'disabled' }}">
										<a ng-click="forgetUI.tables[idx].previous()" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li
										ng-repeat="(page, p) in forgetUI.tables[idx].pages track by $index"
										class="{{ forgetUI.tables[idx].currentPage === page ? 'active' : '' }}"
										ng-show="forgetUI.tables[idx].showPagination(page)">
										<a ng-click="forgetUI.tables[idx].toPage(page)">{{ page + 1 }}</a>
									</li>
									<li class="{{ forgetUI.tables[idx].currentPage < forgetUI.tables[idx].pages.length ? '' : 'disabled'}}">
										<a ng-click="forgetUI.tables[idx].next()" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
							<table class="table table-condensed" >
								<thead>
									<tr>
										<th>Analyzer</th>
										<th class="clickable" ng-click="ui.table.sort('sip')">Path IP Src <span ng-show="ui.table.orderBy === 'sip'" class="glyphicon {{ ui.table.rev ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down' }}" aria-hidden="true"></span></th>
										<th class="clickable" ng-click="ui.table.sort('dip')">Path IP Dst <span ng-show="ui.table.orderBy === 'dip'" class="glyphicon {{ ui.table.rev ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down' }}" aria-hidden="true"></span></th>
										<th>Conditions</th>
										<th>Details</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="(oidx, observation) in result.observations | orderBy:ui.table.orderBy:ui.table.rev"
										ng-show="forgetUI.tables[idx].isPage(oidx) || !forgetUI.pagination.active"
										class="obs-row {{ observation.highlighted ? 'success' : '' }}{{ observation.rejected ? ' rejected' : '' }}">
										<td>{{ observation.analyzer }}</td>
										<td>{{ sourceIP(observation) }}</td>
										<td>{{ destinationIP(observation) }}</td>
										<td>{{ main.displayConditions(observation.conditions).join(', ') }}</td>
										<td><a class="clickable" ng-click="ui.details.show(observation)">Show</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div ng-show="input.query.limit > 0">
					<p>page #<span id="page_num">{{ input.query.skip/input.query.limit }}</span> <a id="nextlink" ng-click="nextPage()"> next</a></p>
				</div>
			</section>
		</div>
	</section>
</div>