<h1>Observatory</h1>

<p>Show conditions for an endpoint. Startpoint can be left blank.</p>
<form>
	<fieldset class="form-group">
	<label>Startpoint (optional)</label>
	<input id="sip_ip" ng-model="sip" type="text" class="form-control" placeholder="">
	<small class="text-muted">Enter an IPv4 or IPv6 address.</small> 
	</fieldset>
	<fieldset class="form-group">
	<label>Endpoint (required)</label>
	<input id="dip_ip" ng-model="dip" type="text" class="form-control" placeholder="*">
	<small class="text-muted">Enter an IPv4 or IPv6 address.</small>
	</fieldset>
	<button type="button" ng-click="loadData()" class="btn btn-primary">Query data</button>
</form>

<table class="table">
	<thead>
		<tr>
			<th>Endpoint</th>
			<th>Condition</th>
			<th>Occurences #</th>
		</tr>
	</thead>
	<tbody id="show_data">
		<tr ng-show="error_d">
			<td><span class="error">(error: could not load data)</span></td>
			<td><span class="error">(error: could not load data)</span></td>
			<td><span class="error">(error: could not load data)</span></td>
		</tr>
		<tr ng-show="data.length === 0 && !loading_d && !error_d">
			<td id="uploads_total"><span class="info">(no data to show)</span></td>
			<td><span class="info">(no data to show)</span></td>
			<td><span class="info">(no data to show)</span></td>
		</tr>
		<tr ng-show="loading_d">
			<td><span>Loading...</span></td>
			<td><span>Loading...</span></td>
			<td><span>Loading...</span></td>
		</tr>
		<tr ng-show="!loading_d" ng-repeat="item in data">
			<td>{{ item.sip }}</td>
			<td>{{ item.condition }}</td>
			<td>{{ item.count }}</td>
		</tr>
	</tbody>
</table>

<p>Show total condition counts.</p>

<form>
	<fieldset class="form-group">
	<label>Condition name</label>
	<input id="cond_name" ng-model="condition" type="text" class="form-control" placeholder="ecn.connectivity.works, ecn.connectivity.broken">
	<small class="text-muted">Enter the name of a condition. Use comma to separate multiple conditions.</small> 
	</fieldset>
	<button type="button" class="btn btn-primary" ng-click="loadDataTotal()">Query data</button>
</form>

<table class="table">
	<thead>
		<tr>
			<th>Condition</th>
			<th>Occurences #</th>
		</tr>
	</thead>
	<tbody id="show_data_total">
		<tr ng-show="error_dt">
			<td><span class="error">(error: could not load data)</span></td>
			<td><span class="error">(error: could not load data)</span></td>
		</tr>
		<tr ng-show="dataTotal.length === 0 && !loading_dt && !error_dt">
			<td id="uploads_total"><span class="info">(no data to show)</span></td>
			<td><span class="info">(no data to show)</span></td>
		</tr>
		<tr ng-show="loading_dt">
			<td><span>Loading...</span></td>
			<td><span>Loading...</span></td>
		</tr>
		<tr ng-show="!loading_dt" ng-repeat="item in dataTotal">
			<td>{{ item._id }}</td><td>{{ item.count }}</td>
		</tr>
	</tbody>
</table>