<div class="row">
	<aside class="col-md-2" id="observatory-sidebar">
		<h5>Query History</h5>
		<button class="btn btn-default btn-xs" ng-click="ui.queries = []">clear</button>
		<ol>
			<li ng-repeat="query in ui.queries track by $index">
				<small ng-mouseover="query.show = true" ng-mouseleave="query.show = false">
					<a href="{{ query.link }}">{{ query.time }}</a>
					<dl class="dl-horizontal" ng-show="query.show">
						<dt>Startpoint:</dt><dd>{{ query.data.sip }}</dd>
						<dt>On path:</dt><dd>{{ query.data.on_path }}</dd>
						<dt>Endpoint:</dt><dd>{{ query.data.dip }}</dd>
						<dt>From:</dt><dd>{{ query.data.from }}</dd>
						<dt>To:</dt><dd>{{ query.data.to }}</dd>
						<dt>Conditions:</dt><dd>{{ ui.conditions.display(query.data) }}</dd>
						<dt>Grouping:</dt><dd>{{ ui.grouping.display(query.data) }}</dd>
					</dl>
				</small>
			</li>
		</ol>
	</aside>
	<section class="col-md-10" id="observatory">
		<h1>Observatory</h1>
		<form>
			<h5 id="mock-title" ng-click="ui.mock.active = !ui.mock.active">
				<span class="glyphicon glyphicon-{{ ui.mock.active ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				 Mocking 
				 <code>{{ ui.mock.active ? "enabled" : "disabled"; }}</code>
			</h5>
			<section ng-show="ui.mock.active">
				<div class="form-group">
					<label>Number of Results (Paths)</label>
					<input type="number" ng-model="ui.mock.nPathGroups" />
				</div>
				<div class="form-group">
					<label>Number of Observations</label>
					<input type="number" ng-model="ui.mock.nObservations" />
				</div>
				<button class="btn btn-primary" ng-click="fetchResults(ui.mock.generate()); ">
					Generate Mock Data
				</button>
			</section>
		</form>
		<form ng-show="!ui.mock.active" id="query-form">
			<h3 ng-click="ui.pathCriteria.show = !ui.pathCriteria.show">
				<span class="glyphicon glyphicon-{{ ui.pathCriteria.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				 Path Criteria 
				 <small>
				 	<code>
				 		{{ ui.pathCriteria.display(input.query) }}
				 	</code>
				 </small>
			</h3>
			<section ng-show="ui.pathCriteria.show">
				<p>
					<em>Specify which paths you want to include. You may leave field blanks to indicate that no filtering for the field should be done.</em>
				</p>
				<div class="form-group">
					<label>Startpoint</label>
					<input id="sip_ips" type="text" class="form-control" placeholder="" ng-model="input.query.sip" />
					<small class="text-muted">Enter an IPv4 or IPv6 address.</small> 
				</div>
				<div class="form-group">
					<label>On path</label>
					<input id="on_path_ips" type="text" class="form-control" placeholder="" ng-model="input.query.on_path" />
					<small class="text-muted">Enter IPv4 or IPv6 addresses that should be contained within the path. Use comma to separate multiple addresses.</small>
				</div>
				<div class="form-group">
					<label>Endpoint</label>
					<input id="dip_ips" type="text" class="form-control" placeholder="" ng-model="input.query.dip" />
					<small class="text-muted">Enter an IPv4 or IPv6 address.</small>
				</div>
				<div class="form-group">
					<label>From Date</label>
					<div class="input-group">
					    <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="input.query.from" is-open="ui.pathCriteria.calendarFrom" save-as="number"/>
					    <span class="input-group-btn">
					        <button
					        	type="button"
					        	class="btn btn-default"
					        	ng-click="ui.pathCriteria.calendarFrom = !ui.pathCriteria.calendarFrom; main.stopUI($event, prop)">
					        		<i class="fa fa-calendar"></i>
					        </button>
					    </span>
					</div>
					 <small class="text-muted">Enter a Date</small>
				</div>
				<div class="form-group">
					<label>To Date</label>
					<div class="input-group">
					    <input
					    	type="text"
							class="form-control"
							datetime-picker="dd MMM yyyy HH:mm"
							ng-model="input.query.to"
							is-open="ui.pathCriteria.calendarTo"
							save-as="number"/>
					    <span class="input-group-btn">
					        <button
					        	type="button"
					        	class="btn btn-default"
					        	ng-click="ui.pathCriteria.calendarTo = !ui.pathCriteria.calendarTo; main.stopUI($event, prop)">
					        		<i class="fa fa-calendar"></i>
					        </button>
					    </span>
					</div>
					<small class="text-muted">Enter a Date</small>
				</div>
			</section>
			<hr>
			<h3 ng-click="ui.conditions.show = !ui.conditions.show">
				<span class="glyphicon glyphicon-{{ ui.conditions.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				 Conditions 
				 <small>
				 	<code>{{ ui.conditions.display(input.query) }}</code>
				 </small>
			</h3>
			<section ng-show="ui.conditions.show">
				<p>
					<em>Specify observation conditions.</em>
				</p>
				<fieldset ng-repeat="(idx, condition) in input.query.conditions">
				<!--<legend>{{ condition.op.length > 0 ? condition.op + " " + condition.name : condition.name }}</legend>-->
					<div class="form-group" ng-if="idx > 0">
						<label>Operator</label>
						<select class="form-control" ng-model="condition.op">
							<option value=":">AND</option>
							<option value=",">OR</option>
						</select>
						<small class="text-muted">Select a logical operator.</small>
					</div>
					<div class="form-group">
						<label>Name</label>
						<select class="form-control" ng-model="condition.name">
							<option ng-repeat="cname in api.allConditions" value="{{ cname }}">{{ cname }}</option>
						</select>
						<small class="text-muted">Select a condition.</small>
					</div>
				</fieldset>
				<button
					type="button"
					ng-click="(input.query.conditions.length <= 1) ? input.query.conditions.push({ name: ''}) : input.query.conditions.push({ name: '', op: ':'})"
					class="btn btn-default"
					aria-label="add condition">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button type="button"
					ng-click="input.query.conditions.pop()"
					class="btn btn-default"
					aria-label="remove condition">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</button>
			</section>
			<hr>
			<h3 ng-click="ui.grouping.show = !ui.grouping.show">
				<span class="glyphicon glyphicon-{{ ui.grouping.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				 Grouping 
				 <small>
				 	<code>{{ ui.grouping.display(input.query) }}</code>
				 </small>
			</h3>
			<section ng-show="ui.grouping.show">
				<p>
					<em>Specify query grouping type.</em>
				</p>
				<fieldset>
					<div class="radio">
						<label>
						<input type="radio" value="default" ng-model="input.query.type">
							Standard Query
						</label>
					</div>
					<div class="radio">
						<label>
						<input type="radio" value="grouped" ng-model="input.query.type">
							Group by Network Paths
						</label>
					</div>	
				</fieldset>
			</section>
			<hr>
			<h3 ng-click="ui.render.show = !ui.render.show">
				<span class="glyphicon glyphicon-{{ ui.render.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
				 Rendering 
				<small>
					<code>
						{{ ui.render.display(input.query) }}
					</code>
				</small>
			</h3>
			<section ng-show="ui.render.show">
				<p>
					<em>Choose from the rendering types.</em>
				</p>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="ui.render.pieChart"> Pie Chart
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="ui.render.timeline"> Timeline
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="ui.render.table"> Table
					</label>
				</div>
			</section>
			<hr>
			<button
				type="button"
				ng-click="fetchResults(input.query)"
				class="btn btn-primary"
				aria-label="submit">
				<span ng-show="!ui.loading" class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<span ng-show="ui.loading" class="glyphicon glyphicon-repeat spinning" aria-hidden="true"></span>
				 Submit
			</button>
		</form>
		<h3 ng-click="ui.results.show = !ui.results.show">
			<span class="glyphicon glyphicon-{{ ui.results.show ? 'collapse-down' : 'expand'}}" aria-hidden="true"></span>
			 Results 
			<small>
				<code class="{{ isError ? 'error' : '' }}">
					{{ ui.results.display(input.query) }}
				</code>
			</small>
		</h3>
		<section ng-show="ui.results.show && isError">
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				{{ errorResponse.status + " " + errorResponse.statusText + " " + errorResponse.data.err}}
			</div>
		</section>
		<section ng-show="ui.results.show">
			<!--<p>Showing <span id="results">{{ api.results.length }}</span> matching results.</p>-->
			<!--Currently we know about <span id="results_max">{{ maxresults }}</span> paths in total.</p>-->
			<div id="show_data">
				<div class="obs_path" ng-repeat="(idx, result) in api.results">
				<hr>
					<div class="pie-chart-container well col-sm-6" ng-if="ui.render.pieChart">
						<piechart renderdata="result" colormap="colorMap[idx]"></piechart>
					</div>
					<div class="col-sm-6 result-overview">
						<dl class="dl-horizontal"><dt>Path:</dt><dd>{{ result.sip + " - * - " + result.dip }}</dd>
							<dt>Observations:</dt><dd>{{ result.observations.length }}</dd>
							<dt>From:</dt><dd>{{ main.formatTime(getTimeWindow(result.observations).start) }}</dd>
							<dt>To:</dt><dd>{{ main.formatTime(getTimeWindow(result.observations).end) }}</dd>
						</dl>
					</div>
					<div class="clearfix"></div>
					<div class="well" ng-if="ui.render.timeline">
						<timeline
							renderdata="result"
							colormap="colorMap[idx]"
							mousein="timeLineMouseIn(group, obs)"
							mouseout="timeLineMouseOut(group, obs)"
							click="timeLineClick(group, obs)">
						</timeline>
					</div>
					<table class="table table-condensed" ng-if="ui.render.table">
						<thead>
							<tr>
								<th>Analyzer</th>
								<th>From</th>
								<th>To</th>
								<th>Conditions</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="observation in result.observations"
								class="{{ observation.highlighted ? 'success' : '' }}{{ observation.rejected ? ' rejected' : '' }}">
								<td>{{ observation.analyzer }}</td>
								<td>{{ main.formatTime(observation.time.from['$date']) }}</td>
								<td>{{ main.formatTime(observation.time.to['$date']) }}</td>
								<td>{{ observation.conditions.join(', ') }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-show="input.query.limit > 0">
				<p>page #<span id="page_num">{{ input.query.skip/input.query.limit }}</span> <a id="nextlink" ng-click="nextPage()"> next</a></p>
			<div>
		</section>
	</section>
<div>