<h1>Measurement campaigns</h1>
<p>
    <strong>Total Uploads</strong>
    <span ng-if="loading">Loading...</span>
    <span ng-if="error"><span class="error">(error: could not load data)</span></span>
    <span ng-if="total !== '' ">{{ total }}</span>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of uploads</th>
        </tr>
    </thead>
    <tbody id="measurement_campaigns">
        <tr ng-show="error">
            <td><span class="error">(error: could not load data)</span></td>
            <td><span class="error">(error: could not load data)</span></td>
        </tr>
        <tr ng-show="loading">
            <td>Loading...</td>
            <td>Loading...</td>
        </tr>
        <tr ng-repeat="item in msmntCampaigns">
            <td>{{ item._id }}</td>
            <td>{{ item.count }}</td>
        </tr>
    </tbody>
</table>